// colors
$background-color: #fafafa;
$border-color: #eeeeee;
$empty-message-color: #aaaaaa;
$todo-hover-background-color: #f0f0f0;
$todo-subtext-color: #999999;
$todo-completed-color: #aaaaaa;
