.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover { // &:hover is equal to .todo:hover
    background-color: $todo-hover-background-color;
  }
}

.todo__subtext {
  color: $todo-subtext-color;
}

.todo-completed {
  p, .todo__subtext {
    color: $todo-completed-color;
    text-decoration: line-through;
  }
}
